<div class="card m-0 bg-dark mb-40 border-secondary mt-50">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between border-bottom border-secondary mb-20  pb-10">
            <h3 class="text-white">About</h3>
            <a class="d-flex align-items-center gap-2 mr-4 on-hover-underline" href="/support" target="_blank" (mouseenter)="isSupportHovered = true" (mouseleave)="isSupportHovered = false">
                <i class="bi text-danger {{isSupportHovered ? 'bi-heart-fill' : 'bi-heart'}} mr-2"></i>
                <span class="text-white-light">Support</span>
            </a>
        </div>
        <section class="mb-30" #companyOverview>
            <h5 class="text-white mb-12 text-white">Company overview</h5>
            <div class="border-left border-2 border-secondary pl-10 ml-4">
                <p class="text-small text-white-light">
                    At <b>Disteven</b>, we understand the complexities that often arise when it comes
                    to sharing expenses. Whether you're splitting the tab at a restaurant, managing household bills, or coordinating
                    expenses for a special trip, we are dedicated to solve the common headache of splitting bills among friends,
                    roommates, travel buddies and beyond.</p>
                <p class="text-small text-white-light">
                    <br>
                    <span>
                        Disteven is your all-in-one solution for effortlessly managing groups, friends, expenses, and their resolutions. Our
                        user-friendly platform simplifies the process of tracking and splitting expenses, ensuring that you can focus on the
                        moments that matter most. With Disteven, you're in control, making money splitting not just hassle-free but also a
                        collaborative and enjoyable experience.
                    </span>
                    <br>
                    <br>
                    <span>
                        Join our ever-growing community of users who have discovered the power of Disteven in simplifying their financial
                        interactions. Say goodbye to awkward IOUs and hello to a more transparent, efficient, and equitable way to split
                        money.
                    </span>
                    <br>
                    <br>
                    <span  class="text-white">
                        Explore Disteven today and transform the way you handle expenses with friends and groups. Your financial harmony is
                        just a click away.
                    </span>
                </p>
            </div>
        </section>
        <section #mission&Values>
            <h5 class="text-white mb-12">Our misson & values</h5>
            <ul>
                <li class="text-small text-white-light mb-12">
                    <span class="font-bold text-white">Our mission : </span> 
                    <span>To help and empower individuals and groups with a user-friendly, fair, and efficient way to split money.</span>
                </li>
                <li class="text-small text-white-light">
                    <span class="font-bold text-white">Our values : </span> 
                    <span class="d-inline-flex align-items-center justify-content-start gap-2 flex-wrap">
                        <div class="border border-accent rounded-16 font-bold px-12 py-4 text-white-light mt-10">Simplicity</div>
                        <div class="border border-accent rounded-16 font-bold px-12 py-4 text-white-light mt-10">Transparency</div>
                        <div class="border border-accent rounded-16 font-bold px-12 py-4 text-white-light mt-10">Trust</div>
                    </span>
                </li>
            </ul>
        </section>
    </div>
</div>
<div class="card mx-0 mb-30 bg-dark border-secondary">
    <div class="card-body">
        <h3 class="mb-20 border-bottom border-secondary pb-10 text-white">Contact</h3>
        <p class="text-small mb-20 text-white">Need assistance? Reach out to us at <a href="mailto:distevenapp@gmail.com" class="text-primary">distevenapp@gmail.com</a> <br><br> 🙂 We welcome any suggestions, feedback or ideas that might make the <b>Disteven</b> experience better.</p>
        <!-- <div class="card m-0">
            <div class="card-body">
                <form class="form-group">
                    <div class="d-flex align-items-center mb-12 gap-3">
                        <input type="text" class="form-control" placeholder="Name">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <textarea name="comment" class="form-control resize-none" cols="10" rows="5" placeholder="Message"></textarea>
                </form>
            </div>
        </div> -->
    </div>
</div>
<p class="text-center mb-30">Ready to simplify your expenses? <a href="/login" class="text-accent">Get started now!</a></p>
