<div class="mt-50">
    <div class="d-flex align-items-center justify-content-between gap-2 mb-30 border-bottom pb-12">
        <h4 class="title">Latest Blogs</h4>
        <a href="https://blog.disteven.com" target="_blank" class="text-primary text-small on-hover-underline">View all <i class="bi bi-arrow-up-right text-x-small"></i></a>
    </div>
    <ng-container *ngIf="!isLoading; else loaderTemplate">
        <ng-container *ngIf="!isError; else errorTemplate">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div *ngFor="let blog of blogs" class="col d-flex">
                <div class="border border-light rounded-3 p-20 d-flex flex-column gap-3">
                    <div class="bg-black-sec rounded-3 d-flex align-items-center justify-content-center opacity-75" style="height: 150px; background-image: linear-gradient(to right, #000, #1b1b1b);">
                        <img src="../../assets/images/logo.png" alt="{{blog.title}}" class="img-fluid rounded-3" style="object-fit: contain; width: 50px;" />  
                    </div>
                    <h6>{{ blog.title }}</h6>
                    <div class="d-flex align-items-center justify-content-between gap-2">
                        <div class="d-flex align-items-center gap-3 flex-wrap text-small text-slate">
                            <div class="d-flex align-items-center gap-1">
                                <p>{{blog.reactionCount}}</p>
                                <i class="bi bi-heart"></i>
                            </div>
                            <div class="d-flex align-items-center gap-1">
                                <p>{{blog.views}}</p>
                                <i class="bi bi-eye"></i>
                            </div>
                            <div class="d-flex align-items-center gap-1">
                                <p>{{blog.responseCount}}</p>
                                <i class="bi bi-chat"></i>
                            </div>
                        </div>
                        <p class="text-secondary-light text-small">{{blog.publishedAt | date:"dd MMM, YYYY"}}</p>
                    </div>
                    <a href="https://blog.disteven.com/{{blog.slug}}" target="_blank" class="text-primary text-small on-hover-underline d-inline-flex align-items-center gap-1" style="width: max-content;">{{blog.readTimeInMinutes}} min read <i class="bi bi-arrow-up-right text-x-small"></i></a>
                </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #loaderTemplate>
    <div class="loader">
        <p class="text-center">loading blogs...</p>
    </div>
</ng-template>

<ng-template #errorTemplate>
    <div class="d-flex flex-column align-items-center justify-content-center gap-2">
        <disteven-empty-view class="text-danger" [emptyMessage]="'Error fetching blogs'"></disteven-empty-view>
        <a class="text-primary cursor-pointer" (click)="getBlogs()">try again</a>
    </div>
</ng-template>